# Ignora a pasta do ambiente virtual (caso você crie no futuro)
venv/
env/

# Ignora arquivos temporários do Python
__pycache__/
*.pyc

# Ignora arquivos de sistema do Windows
Thumbs.db

.env
# Persistência local; mantenha somente a estrutura versionada.
database/**/*
!database/**/
!database/**/.gitkeep
